#main {
    width: auto;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    background-image: url(g.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    background-color: aliceblue;
    margin-top: 30px;
    padding: 20px;
}

#input { width: 90%; 
    height: 40px; 
    padding-left: 20px;
    border: 0;
    margin-top: 30px;
}

.out {
    margin-top: 40px;
}

.el {
    width: auto;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: rgb(24, 130, 222);
    color: #fff;
}

.el-btn {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 90%;
    border: 0;
    height: 35px;
}

#btn-add {
    width: 90%;
    margin-bottom: 15px; 
    margin-top: 30px;
    background-color: blue;
    color: #fff;
    height: 40px;
}
#btn-del {
    width: 90%;
    background-color: #red;
    color: #fff;
    height: 40px;
}

#btn-save{width: 90%;
    margin-bottom: 15px;
    background-color: green;
    color: #fff;
    height: 40px;
}

/* @media (max-width: 960px) { 
    
} */
